/* #Home {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAF9F6;
}

.myImgHomeContainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 95%;
  max-height: 25%;

}

#myImgHome {
  max-width: 95%;
  max-height: 95%;
  border-radius: 20px;
}

@media(min-width: 800px) {

  #Home {
    flex-direction: row;
  }


} */